# Tipos de Dados no Python

No Python, os tipos de dados representam as diferentes naturezas das informações com as quais podemos trabalhar, como números, textos, valores booleanos e estruturas mais complexas. Compreender os tipos de dados é essencial para desenvolver códigos corretos e eficientes, pois cada tipo tem seu comportamento específico e métodos associados. Abaixo, apresentamos exemplos práticos dos principais tipos de dados em Python, incluindo inteiros, ponto flutuante, strings, booleanos, listas, tuplas, dicionários e conjuntos.

In [3]:
# Tipo inteiro (int)
idade = 30
print("Tipo de idade:", type(idade), "| Valor:", idade)

Tipo de idade: <class 'int'> | Valor: 30

In [2]:
# Tipo ponto flutuante (float)
altura = 1.75
print("Tipo de altura:", type(altura), "| Valor:", altura)

Tipo de altura: <class 'float'> | Valor: 1.75

In [ ]:
# Tipo string (str)
nome = "Ana"
print("Tipo de nome:", type(nome), "| Valor:", nome)

In [ ]:
# Tipo booleano (bool)
tem_carteira = True
print("Tipo de tem_carteira:", type(tem_carteira), "| Valor:", tem_carteira)

In [ ]:
# Tipo lista (list)
compras = ["arroz", "feijão", "ovo"]
print("Tipo de compras:", type(compras), "| Valor:", compras)

In [ ]:
# Tipo tupla (tuple)
coordenadas = (10.5, 20.3)
print("Tipo de coordenadas:", type(coordenadas), "| Valor:", coordenadas)

In [ ]:
# Tipo dicionário (dict)
aluno = {"nome": "João", "idade": 22, "curso": "Python"}
print("Tipo de aluno:", type(aluno), "| Valor:", aluno)

In [ ]:
# Tipo conjunto (set)
numeros = {1, 2, 3, 2, 1}
print("Tipo de numeros:", type(numeros), "| Valor:", numeros)

In [ ]:
# Tipo None (ausência de valor)
resultado = None
print("Tipo de resultado:", type(resultado), "| Valor:", resultado)